{% extends 'base.html' %}

{% block title %} User Information {% endblock %}

{% block body %}

<ul class="list-group">
  <li class="list-group-item list-group-item-info">Full name: {{ user.first_name }} {{ user.last_name }}</li>
  <li class="list-group-item list-group-item-info">Username: {{ user.username }}</li>
  <li class="list-group-item list-group-item-info">Email: {{ user.email }}</li>
</ul>

<form method='POST'>
  <a class="btn btn-danger" href="/logout">Log out</a>

  {% for f in feedback_list %}
  <p>
    <h3>{{ f.title }}
      <a href="/feedback/{{ f.id }}/update" class='btn btn-info small'>Edit</a>
      <button class='btn btn-info small' type="submit" formaction="/feedback/{{ f.id }}/delete">Delete</button>
    </h3>
  </p>
  {% endfor %}


  <a class='btn btn-info' href="/users/{{ user.username }}/feedback/add">Add feedback</a>
  <button class='btn btn-info' type='submit' formaction="/users/{{ user.username }}/delete">Delete User</button>
</form>

{% endblock %}